@import "variables";
@import "base";


.main_view {
    height: 100%;
    width: 100%;
}

.header_bar {
    height: 56px;
    background-image: url('../assets/header/headerbg1.png') ;
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: 100% 100%;
    display:flex;
    align-items: center;
    padding:0 20px;

    width:100%;

    .title{

        font-size: 20px;
        font-family: Source Han Sans CN;
        font-weight: 400;
        line-height: 25px;
        color: #333333;
        flex:1;

    }
    .suc-menu {
        height: 100%;
        > ul {
            float: right;
            line-height: 50px;
            background: #247ad6;
            height: 100%;
        }
    }
}

.app_main {
    padding-top:30px;
    width:100%;
    height: calc(100% - 56px);
    background-image: url('../assets/content/contentbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    .ol-mouse-position {
        bottom: 8px;
        top: auto;
    }
    .ivu-layout-sider{
        background:none;
    }
    // .ivu-menu{
    //     width:267px;
    // }

    // .ivu-menu-item {
    //     width:267px;
    // }
    .ivu-menu-light{
        background:none;
    }
    .ivu-menu-vertical.ivu-menu-light:after{
        content:none;
    }
    .ivu-layout{
        background:none;
    }
    .workplace{
        width:100%;
        min-height:700px;
        background-image: url('../assets/section/workplacebg.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding:32px;

        .section{
            flex:1;
            margin:20px;
            min-height:350px;
            // &:nth-child(2n){
            //     border-left:1px solid #eee;
            // }
        }
        .section-title{
            // width:526px;
            height:56px;
            font-family: Source Han Sans CN;
            font-weight: 400;
            line-height: 56px;
            font-size:16px;
            background-image: url('../assets/section/titlebg.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            padding:0 16px 0 48px;
            display:flex;
            justify-content: space-between;
            span:nth-child(1){
                font-size: 20px;
                color: #890A03;
                &+span{
                    font-weight:600;
                }
            }
        }
    }
}
$flex-jc:( start:flex-start, end:flex-end, center:center, between:space-between, around:space-around, );
$flex-ai:( start:flex-start, end:flex-end, center:center, stretch:stretch);
$colors:( primary:rgb(70, 129, 255), "white":#fff);
//color
@each $colorKey,
$color in $colors {
    .text-#{$colorKey} {
        color: $color
    }
    .bg-#{$colorKey} {
        background-color: $color
    }
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
}

//flex
.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

@each $key,
$value in $flex-jc {
    .jc-#{$key} {
        justify-content: $value;
    }
}

@each $key,
$value in $flex-ai {
    .ai-#{$key} {
        align-items: $value;
    }
}

.flex-column {
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.flex-grow-1 {
    flex-grow: 1;
}

.ai-baseline {
    align-items: baseline;
}

//通用按钮样式
.pmbtn{
    height: 32px;
    min-width: 72px;
    background-color: #fff;
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    border: 1px solid $border-color;
    //border: solid 1px $theme-color;
    cursor: pointer;
    user-select: none;
    transition: all .3s;
    position: relative;
    flex:none;
    .iconfont{
        font-size: 14px;
        margin-right: 4px;
        line-height: 1;
        @include base-color();
    }
    &:hover:not(.disable,.primary){
        @include base-color();
    }
    &:active:not(.disable,.primary){
        @include border-color();
    }

    &.primary{
        @include base-background();
        @include border-box();
        color: #fff;
        .iconfont{
            color: #fff;
        }
        &:hover{
            color: #fff;
        }
        &:active{
            box-shadow: 0 2px 5px #454e77 inset;
        }
    }

    &.disable{
        border-color: #c6c9ce;
        color: #a0a5a9;
        cursor: not-allowed;
        .iconfont{
            color: #a0a5a9;
        }
        &:hover{

        }
        &:active{
            box-shadow: none;
        }
    }
    &.disable.primary{
        cursor: not-allowed;
        border-color: #a0a5a9;
        background-color: #a0a5a9;
        color: #fff;
        .iconfont{
            color: #fff;
        }
        &:hover{

        }
        &:active{
            box-shadow: none;
        }
    }

    &.delete{
        background-color: $error-color;
        border: 1px solid $error-color;
        color: #fff;
        .iconfont{
            color: #fff;
        }
        &:hover{
            color: #fff;
        }
        &:active{
            box-shadow: 0 2px 5px #D24C48 inset;
        }
    }
}
