@import "variables";
@import "theme-icon";
@import "theme";

html,
body {
    height: 100%;
    font-family: Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, "PingFang SC", "Microsoft YaHei";
}

.main_view {
    height: 100%;
    width: 100%;
}

.header_bar {
    height: 56px;
    background: #247ad6;
    display:flex;
    align-items: center;
    padding:0 20px;
    // background: url('../assets/header/headerbg.png') no-repeat !important;
    width:100%;

    .title{

        font-size: 20px;
        font-family: Source Han Sans CN;
        font-weight: 400;
        line-height: 25px;
        color: #333333;
        flex:1;

    }
    .suc-menu {
        height: 100%;
        > ul {
            float: right;
            line-height: 50px;
            background: #247ad6;
            height: 100%;
        }
    }
}

.app_main {
    width:100%;
    height: calc(100% - 50px);
    background-image: url('../assets/content/contentbg.png') no-repeat !important;
    background-color: #EDEEEF;
    .ol-mouse-position {
        bottom: 8px;
        top: auto;
    }
}
