@import "variables";
@import "base";


.main_view {
    height: 100%;
    width: 100%;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header_bar {
    height: 56px;
    background-image: url('../assets/header/headerbg1.png');
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;

    width: 100%;

    .title {

        font-size: 20px;
        font-family: Source Han Sans CN;
        font-weight: 400;
        line-height: 25px;
        color: #333333;
        flex: 1;

    }

    .suc-menu {
        height: 100%;

        > ul {
            float: right;
            line-height: 50px;
            background: #247ad6;
            height: 100%;
        }
    }
}



$flex-jc: (start:flex-start, end:flex-end, center:center, between:space-between, around:space-around,);
$flex-ai: (start:flex-start, end:flex-end, center:center, stretch:stretch);
$colors: (primary:rgb(70, 129, 255), "white":#fff);
//color
@each $colorKey,
$color in $colors {
    .text-#{$colorKey} {
        color: $color
    }
    .bg-#{$colorKey} {
        background-color: $color
    }
}

@each $key,
$value in $flex-jc {
    .jc-#{$key} {
        justify-content: $value;
    }
}

@each $key,
$value in $flex-ai {
    .ai-#{$key} {
        align-items: $value;
    }
}

/**element-ui 样式调整**/

.el-table th.is-leaf{
    background-color: #FAFAFA;
}

//通用按钮样式
.pmbtn {
    height: 32px;
    min-width: 72px;
    background-color: #fff;
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    border: 1px solid $border-color;
    //border: solid 1px $theme-color;
    cursor: pointer;
    user-select: none;
    position: relative;
    flex: none;

    .iconfont {
        font-size: 14px;
        margin-right: 4px;
        line-height: 1;
    }

    &:hover {
        @include base-color();

        .iconfont {
            @include base-color();
        }
    }

    &:active:not(.disable,.primary) {
        @include border-color();
    }

    &.primary {
        @include base-background();
        @include border-box();
        color: #fff;

        .iconfont {
            color: #fff;
        }

        &:hover {
            color: #fff;
            @include base-background();

            .iconfont {
                color: #fff;
            }
        }

        &:active {
            box-shadow: 0 2px 5px #454e77 inset;
        }
    }

    &.disable {
        border-color: #c6c9ce;
        color: #a0a5a9;
        cursor: not-allowed;

        .iconfont {
            color: #a0a5a9;
        }

        &:hover {

        }

        &:active {
            box-shadow: none;
        }
    }

    &.disable.primary {
        cursor: not-allowed;
        border-color: #a0a5a9;
        background-color: #a0a5a9;
        color: #fff;

        .iconfont {
            color: #fff;
        }

        &:hover {

        }

        &:active {
            box-shadow: none;
        }
    }

    &.delete {
        background-color: $error-color;
        border: 1px solid $error-color;
        color: #fff;

        .iconfont {
            color: #fff;
        }

        &:hover {
            color: #fff;
        }

        &:active {
            box-shadow: 0 2px 5px #D24C48 inset;
        }
    }
}

.fontBtn{
    @include base-color();
    margin: 0 5px;
    cursor: pointer;
}
.fontBtn-delete{
    color: $error-color;
    margin: 0 5px;
    cursor: pointer;
}

