// 默认主题
$default-theme: (
        base-color: #fff,
        border-color: #000,
        // content: "\e80b",
        // logout-img: "~@oa/assets/统一登录.png"
);
//红色主题
$blue-theme: (
        base-color: #409EFF,
        border-color: #409EFF,
        // content: "\e642",
        // logout-img: "~@oa/assets/统一登录-选中.png"
);
//护眼主题
$eyes-theme: (
        base-color: #27C992,
        border-color: #27C992,
        // content: "\e642",
        // logout-img: "~@oa/assets/统一登录-选中.png"
);
//护眼主题
$dark-theme: (
        base-color: #263238,
        border-color: #263238,
        // content: "\e642",
        // logout-img: "~@oa/assets/统一登录-选中.png"
);
//定义映射集合
$themes: (
        default-theme: $default-theme,
        blue-theme: $blue-theme,
        eyes-theme: $eyes-theme,
        dark-theme: $dark-theme,
);

@mixin base-background() {
  @each $theme-name, $theme in $themes {
    [data-theme = '#{$theme-name}'] & {
      background: map-get($map: $theme, $key: base-color);
    }
  }
}

@mixin base-border() {
  @each $theme-name, $theme in $themes {
    [data-theme = '#{$theme-name}'] & {
      border-color: map-get($map: $theme, $key: border-color);
    }
  }
}

@mixin base-wancheng-icon() {
  @each $theme-name, $theme in $themes {
    [data-theme = '#{$theme-name}'] & {
      content: map-get($map: $theme, $key: content);
    }
  }
}

$theme-color:#3a7ef3;
$success-color:#3dcb42;
$warning-color:#ffc400;
$error-color:#ff2c2c;
$font-color:#30374a;
$second-font-color:#7c8185;
$third-font-color:#a0a5a9;
