// 默认主题
$default-theme: (
        base-color: #2064CF,
        border-color: #D8DEE5,
        background-active: #417BD6,
);

$eyes-theme: (
        base-color: #27C992,
        border-color: #27C992,
);

$dark-theme: (
        base-color: #263238,
        border-color: #263238,
);

//定义映射集合
$themes: (
        default-theme: $default-theme,
        eyes-theme: $eyes-theme,
        dark-theme: $dark-theme,
);



@mixin base-background() {
    @each $theme-name, $theme in $themes {
        [data-theme = '#{$theme-name}'] & {
            background-color: map-get($map: $theme, $key: base-color);

        }
    }
}
@mixin base-background-active{
    @each $theme-name, $theme in $themes {
        [data-theme = '#{$theme-name}'] & {
            background-color: map-get($map: $theme, $key: background-active);

        }
    }
}

@mixin base-border() {
    @each $theme-name, $theme in $themes {
        [data-theme = '#{$theme-name}'] & {
            border-color: map-get($map: $theme, $key: border-color);
        }
    }
}

@mixin base-color() {
    @each $theme-name, $theme in $themes {
        [data-theme = '#{$theme-name}'] & {
            color: map-get($map: $theme, $key: base-color);

        }
    }
}
@mixin border-color() {
    @each $theme-name, $theme in $themes {
        [data-theme = '#{$theme-name}'] & {
            border-color: map-get($map: $theme, $key: base-color);
        }
    }
}
@mixin border-box() {
    @each $theme-name, $theme in $themes {
        [data-theme = '#{$theme-name}'] & {
            border:1px solid map-get($map: $theme, $key: base-color);
        }
    }
}

$success-color: #51AB44;
$warning-color: #ED923A;
$error-color: #F55955;

$border-color: #D8DEE5;
$second-font-color: #595959;
$third-font-color: #8C8C8C;
$tips-color:#BFBFBF;


