
$colors:( default:rgb(70, 129, 255), "eyes":#27C992,'dark':'#263238');
//color
@each $colorKey,
$color in $colors {
    .text-#{$colorKey} {
        color: $color
    }
    .bg-#{$colorKey} {
        background-color: $color
    }
}

$default-theme:(
    base-color:rgb(70, 129, 255),
    border-color:rgb(70, 129, 255)
);
$eyes-theme:(
    base-color:#27C992,
    border-color:#27C992
);
//定义映射集合
$themes: (
        default-theme: $default-theme,
        eyes-theme: $eyes-theme
);

@mixin base-background() {
    @each $theme-name, $theme in $themes {
      [data-theme = '#{$theme-name}'] & {
        background: map-get($map: $theme, $key: base-color);
      }
    }
  };
  
  @mixin base-border() {
    @each $theme-name, $theme in $themes {
      [data-theme = '#{$theme-name}'] & {
        border-color: map-get($map: $theme, $key: border-color);
      }
    }
  }
  
